body {
    margin: 0;
   padding:0;
}

* {
    box-sizing: border-box;
    outline: 1px red solid;
}
div.head {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80px;
}
div.head div.head1 {
    padding: 0;
    margin: 0;
    width: 20%;
    float: left;
}
div.head div.head2 {
    padding: 0;
    margin: 0;
    width: 60%;
    float: left;
}
div.head div.head4 {
    padding: 0;
    margin: 0;
    width: 20%;
    float: left;
}
div.head div.head1>img {
    padding: 0;
    margin: 0;
    padding-top: 3px;
    padding-left: 15px;
}
div.head div.head2 div.head3>ul {
    padding: 0;
    margin: 0;
    text-decoration: none;
    padding-top: 20px;
}
div.head div.head2 div.head3>ul>li {
    padding: 20px;
    margin: 0px;
    text-decoration: none;
    display: inline-block;
}
div.head div.head2 div.head3>ul>li>a {
    padding: 0;
    margin: 0;
    color: #0c71c3;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700 !important;
    transition: all 0.5s;
}

div.head div.head2 div.head3>ul>li>a:hover {
    color: rgb(2, 2, 58);
}
div.head div.head2 div.head3 {
    padding: 0;
    margin: 0;
    padding-left: 5em;
}
div.head div.head4 {
    padding: 0;
    margin: 0;
    padding-top: 40px;
}
div.head div.head4>a {
    padding: 20px 20px;
    margin: 0;
    text-align: center;
    background-color: #0c71c3;
    color: white;
    border-radius: 5px 15px 5px 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700 !important;
    transition: all 0.5s;
}

div.head div.head4>a:hover {
    background-color: rgb(2, 2, 58);
}
div.dr {
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;
    background-image: url("./images/cheerful-emotional-team-reading-winning-results-on-monitor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    position: relative;
}
div.dr div.tip{
    padding: 0;
    margin: 0;
    width: auto;
    background-color: rgba(10, 10, 10, 0.60) !important;
    height: 350px;
}
div.dr div.dr1>h1 {
    padding: 0px 50px;
    padding-top: 100px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 4em;
}

div.about{
    margin-top: 70px;
    height: 300px;
}
div.about div.about1{
    padding:0;
    margin:0;
}
div.about div.about1>img{
    padding: 30px;
    padding-right: 50px;
  margin: 0;
  height: auto;
  width: 50%;
  background-position: center;
  float: left;

}
div.about div.about2{
padding: 10px;
  margin: 0;
  height: auto;
  width: 50%;
  float: left;
}
div.about div.about1 div.blurb{
background-color: #0c71c3;
  float: left;
   position: absolute;
    z-index: 1;
    width: 45%;
    height: 250px;
    margin-top: 750px;
    margin-left: 50px;
    border-radius: 2px 15px 2px 15px;
    padding-top: 40px;
    padding-left: 20px;  
    padding-right: 20px;  
}
div.about div.about1 div.blurb>p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: lighter;
    color: #ffffff;
}
div.about div.about1 div.blurb>h3{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 400;
}
div.about div.about2>h2{
font-family: 'Roboto', sans-serif;
    color: #0c71c3;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    font-weight: 400;
}
div.about div.about2>h1{
font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 2.5em;
    padding: 0;
    font-weight: 500;
    padding-top: 20px;
}
div.about div.about2>p{
    margin:0;
    padding:0;
    padding-top: 20px;
    font-weight: 500;
    font-family: 'Poppins', 'sans-serif';
    line-height: 1.8em;
    margin-right: 50px;
    text-align: justify;
    font-size: 1em;
}
div.about div.about2>button{
 background-color: #0c71c3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 0.7em;
  padding: 20px;
  width: 30%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.2em;
}

div.about div.about2>button:hover{
background-image: linear-gradient(to bottom right, #025599);
}

div.about div.about2 >button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

div.about div.about2> button::after{
    content: '.\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
div.about div.about2> :hover span{
    padding-right: 25px;
}
div.about div.about2> :hover span:after{
    opacity: 3;
    right: 0;
}
div.about2>h4{
   font-family: 'Roboto', sans-serif; 
   font-weight: 500;
}
div.about2>h4>i{
    padding-right: 10px;
    color: #0c71c3;
    font-size: 1.2em;
}

div.flx{
    clear: both;
    width: 100%;
    background-image: url(./images/team-of-engineers-working.jpg);
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
 div.flx1{
    padding: 0;
  margin: 0;
  width: auto;
  background-color: rgba(10, 10, 10, 0.70) !important;
  height: 450px;
}
div.flx2{
    padding:0;
    margin:0;
    padding-top: 70px;
}
div.flx1 div.flx2>h1{
    color: #0c71c3;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif; 
    margin:0;
    padding:0;
}
div.flx1 div.flx2>h4{
    color: #ffffff;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    padding:0;
    margin:0;
    padding-top: 20px;
}
div.perfect{
    padding: 0;
  margin: 0px 40px;
  width: auto;
  height: 800px;
  margin-top: -180px;
  
}
div.perfect div.wrap{
    display:flex;
    flex-direction: row;
    margin: 70px;
}
div.perfect1{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 50%;
    background-image: url(./images/coworking-colleagues-having-conversation-at-workplace-1.jpg);
    height: 670px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
div.perfect1 div.wrap1{
    display:flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(10, 10, 10, 0.80) !important;
    height: 670px;
}

div.perfect2{
    display:flex;
    flex-direction: row;
    width: 50%;
    background-image: url(./images/coworking-colleagues-having-conversation-at-workplace-1.jpg);
    height: 670px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
div.perfect1 div.wrap1{
    padding: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
div.perfect1 div.wrap1>h1{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif; 
    color:#ffffff;
    font-weight: 400;
    font-size: 2.2em;
    padding-bottom: 10px;
}
div.perfect1 div.wrap1>p{
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}
div.perfect1 div.wrap1>h4{
    color: #ffffff;
    text-align: left;
    font-size: 1em;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    line-height: 2.3em;
    padding: 0;
    margin:0;
}
div.perfect1 div.wrap1>h4>i{
    padding-right: 15px;
    color: #ffffff;
    font-size: 1.2em;
}
div.perfect1 div.wrap1 div.wrap2{
    display: flex;
    flex-direction: row;
    padding-top: inherit;
}
div.perfect1 div.wrap1 div.wrap2>button{
  background-color: #0c71c3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 0.8em;
  padding: 20px;
  width: 40%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2em;
}
div.perfect1 div.wrap1 div.wrap2>button:hover{
     background-image: linear-gradient(to bottom right, #025599);
}
div.perfect1 div.wrap1 div.wrap2 >button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
div.perfect1 div.wrap1 div.wrap2> button::after{
    content: '.\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
div.perfect1 div.wrap1 div.wrap2> :hover span{
    padding-right: 25px;
}
div.perfect1 div.wrap1 div.wrap2> :hover span:after{
    opacity: 3;
    right: 0;
}
div.perfect1 div.wrap1 div.wrap2>a{
    display: flex;
    width: 50%;
    text-decoration: none;
    padding-left: 120px;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    color:#FFFFFF;
    transition: all 0.5s;
}
div.perfect1 div.wrap1 div.wrap2>a:hover{
   color: #025599;
}
div.achieve{
    height: 100px;
}
div.achieve div.line{
    width: 90%;
    height: 1px;
    background-color: #91979a;
    padding: 0;
    margin: 0px 50px;
}
div.achieve1{
    height:auto;
}
div.achieve1 div.achieve-wrap{
    height: auto;
    width: auto;
    align-content: center;
}
div.achieve1 div.achieve-wrap>h1{
    text-align: center;
    padding: 0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}
div.achieve1 div.achieve-wrap>h2{
    text-align: center;
    padding: 0;
    padding-bottom: 20px;
    margin:0;
    font-family: 'Roboto', sans-serif;
    color: #0c71c3;
    font-weight: 400;
}
div.clients{
    margin: 10px 80px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    width: 0;
    align-content: center;
}
div.clients div.clients1{
    height: auto;
    width: auto; 
    background-color: #0c71c3;
    margin: 0px 20px;
    padding: 5px 120px;
}
div.clients div.clients1 div.blurb{
    width:auto;
    height: auto;
    padding: 0;
}

div.clients div.clients1 div.blurb>h1{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    text-align: center;
    color: #FFFFFF;
}
div.clients div.clients1 div.blurb>h3{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.2em;
    color:#FFFFFF;
    font-weight: 300;
}
div.clients div.clients2{
    height: auto;
    width: auto; 
    background-color: #0c71c3;
    margin: 0px 20px;
    padding: 5px 120px;
}
div.clients div.clients2 div.blurb1{
    width:auto;
    height: auto;
    padding: 0;
}
div.clients div.clients2 div.blurb1>h1{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    text-align: center;
    color: #FFFFFF;
}
div.clients div.clients2 div.blurb1>h3{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.2em;
    color:#FFFFFF;
    font-weight: 300;
}
div.clients div.clients3{
    height: auto;
    width: auto; 
    background-color: #0c71c3;
    margin: 0px 20px;
    padding: 5px 120px;
}
div.clients div.clients3 div.blurb2{
    width:auto;
    height: auto;
    padding: 0;
}
div.clients div.clients3 div.blurb2>h1{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    text-align: center;
    color: #FFFFFF;
}
div.clients div.clients3 div.blurb2>h3{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.2em;
    color:#FFFFFF;
    font-weight: 300;
}

div.footer {
    padding: 0;
    margin: 0;
    height: auto;
    background-color: #232733;
}

div.footer div.foot {
    padding: 0;
    margin: 0;
}

div.footer div.foot>div.foot1 {
    padding: 20px 80px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

div.footer div.foot>div.foot1>p {
    margin: 10px 20px;
    padding: 0;
    font-size: 1em;
    text-align: justify;
}


div.footer div.foot div.foot1>i {
    margin: 0;
    padding: 0px 20px;
    font-size: 1.5em;
}

div.footer div.line1 {
    width: 90%;
    height: 2px;
    background-color: #ffffff;
    padding: 0;
    margin: 0px 50px;
}

div.footer div.spaces {
    padding: 20px 0px;
    margin: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
}
div.footer div.spaces div.spaces1{
    padding: 0;
    margin: 0;
}

div.spaces div.spaces1>h4 {
    padding: 0px 10px;
    margin: 0;
    margin-bottom: 20px;
    flex-flow: column wrap;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    letter-spacing: 3px;
    font-size: 1.5em;
}

div.spaces div.spaces1>p {
    padding: 0px 10px;
    padding-bottom: 10px;
    margin: 0;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 2em;
}
div.spaces div.spaces1>img{
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
}

div.spaces div.spaces1>a {
    padding: 10px 7px;
    margin: 0;
    margin-left: 30px;
    flex-flow: column wrap;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 30px;
}
div.spaces div.spaces1>button{
padding: 10px 20px;
  margin: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to bottom right, #0c71c3, rgb(2, 2, 58));
  color: #ffffff;
  margin-left: 10px;
  transition: all 0.5s;
  margin-bottom: 20px;
}
div.spaces div.spaces1>button:hover{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to bottom right, #6497c2, rgb(26, 26, 224));
    color: #ffffff;
}
div.spaces div.spaces1 div.socials{
    margin-left: 0px;
}
div.spaces div.spaces1 div.socials>a{
    padding: 10px 7px;
    margin: 0;
    margin-left: 11px;
    flex-flow: column wrap;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 30px;
}

div.spaces div.spaces2{
    margin-right: 20px;
    margin-left: 40px;
}

div.spaces div.spaces2>h4 {
    padding: 0;
    margin: 0;
    flex-flow: column wrap;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 1.5em;
    letter-spacing: 3px;
    padding-bottom: 20px;
   
}

div.spaces div.spaces2>a {
    padding: 0;
    margin: 0;
    flex-flow: column wrap;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #ffffff;
    line-height: 2em;
    margin-right: 20px;
}
div.spaces div.spaces2>a:hover{
    border-bottom:  1px solid white;
}

div.spaces div.spaces3>h4 {
    padding: 0;
    margin: 0px 50px;
    flex-flow: column wrap;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 1.5em;
    letter-spacing: 3px;
    padding-bottom: 20px;
}

div.spaces div.spaces3>a {
    padding: 0;
    margin: 0px 50px;
    flex-flow: column wrap;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #ffffff;
    line-height: 2em;
}
div.spaces div.spaces3>a:hover {
     border-bottom:  1px solid white;
}

div.spaces div.spaces4>h4 {
    padding: 0;
    margin: 0px 50px;
    flex-flow: column wrap;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 1.5em;
    letter-spacing: 3px;
    padding-bottom: 20px;
}

div.spaces div.spaces4>p {
    padding: 0;
    margin: 0px 50px;
    flex-flow: column wrap;
    font-family: 'Roboto', sans-serif;
    line-height: 2em;
    color: #ffffff;
    padding-bottom: 70px;
}

div.spaces div.spaces4>a {
    padding: 10px 20px;
    margin: 0px 50px;
    flex-flow: column wrap;
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(2, 2, 58), #0c71c3);
    color: #ffffff;
    transition: all 0.5s;
    font-family: 'Roboto', sans-serif;
}

div.spaces div.spaces4>a:hover {
    padding: 10px 20px;
    margin: 0px 50px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to bottom right, #6497c2, rgb(26, 26, 224));
    color: #ffffff;
    border: #ffffff solid 1px;
}

